.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
application_test.csv
application_train.csv
bureau.csv
bureau_balance.csv
credit_card_balance.csv
example.jpg
example.mat
example.npy
example.pkl
example.txt
example01.json
example02.json
HomeCredit_columns_description.csv
installments_payments.csv
POS_CASH_balance.csv
previous_application.csv
sample_submission.csv
train.csv




Homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_007_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_010_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_013_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_014_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_015_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_020_HW-checkpoint.ipynb
Homework/data/house_train.csv.gz
Homework/.ipynb_checkpoints/Day_021_HW-checkpoint.ipynb
Homework/data/titanic_test.csv
Homework/data/titanic_train.csv
Homework/.ipynb_checkpoints/Day_022_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_023_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_024_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_025_HW-checkpoint.ipynb
Homework/data/taxi_data1.csv
Homework/data/taxi_data2.csv
Homework/.ipynb_checkpoints/Day_026_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_027_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_028_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_029_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_030_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_034_HW-checkpoint.ipynb
